@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo(a) @Model.Nome Site de Estudo de Yannynha!  </h1>
    <p>SESI - C# COM .NET E MVC! VAMOS LÁ</p>
    <span> Seu email é @Model.Email</span>
</div>
